body{
    margin-top: 8%;
    background-color: black;
    color: white;
}

.cell {
    width: 80px;
    height: 80px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1a202c; 
  }
  
.cell.occupied {
    color: #1db9b9;
    background-color: #324b75a6; 
}
  